[submodule ".emacs.d"]
	path = .emacs.d
	url = git@github.com:vyslexic/prelude.git
[submodule ".ssh"]
	path = .ssh
	url = git@github.com:vyslexic/ssh-config.git
[submodule "warp-themes"]
	path = warp-themes
	url = git@github.com:neuralvis/themes.git
